* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* header css */
header {
  display: flex;
  justify-content: space-between;
}

header .header-left {
  display: flex;
  border: 5px solid black;
  width: 70%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 3rem;
}

header .header-right {
  display: flex;
  border: 5px solid black;
  border-left: none;
  align-items: center;
  width: 30%;
}

header .header-right b {
  margin-left: 10px;
}

/* title */
.header-title {
  display: flex;
  justify-content: center;
}

.header-title b {
  margin-top: 2rem;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

/* main css */
main {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

main .text-submit {
  display: flex;
  justify-content: center;
  width: 50%;
}

main .text-submit input {
  border: 3px solid black;
  height: 2rem;
  width: 80%;
}

main .text-submit button {
  border: 3px solid black;
  height: 2rem;
  width: 5rem;
  margin-left: 2rem;
  padding: 5px 10px 10px 10px;
  background-color: yellow;
  transition: background 1s ease;
}

main .text-submit button:hover {
  background-color: violet;
}

main .text-submit button:active {
  background-color: black;
  color: white;
}

main .table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

tr,
td {
  border: 1px solid black;
  text-align: center;
}

main .table table {
  border-collapse: collapse;
  width: 80%;
}

main .table table tr .same {
  border: 1px solid black;
  padding: 5px;
  width: 10%;
}

main .table table tr .center {
  border: 1px solid black;
  padding: 5px;
  width: 80%;
}

#delete {
  color: red;
  background: white;
  border: none;
  transition: background 1s ease;
}

#delete:hover {
  background-color: violet;
}

#delete:active {
  background-color: black;
  color: white;
}
